@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  position: relative;
  max-width: 1230px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1245px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 915px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 782px) {
  .container {
    max-width: 480px;
  }
}

body {
  font-family: "Nunito", sans-serif;
  color: #fff;
}

.wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: auto;
  background-color: #174d69;
}

.header {
  height: 150px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger {
  display: none;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #174d69;
}
.header__burger button span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 30px;
  background-color: #fff;
}
@media (max-width: 782px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  height: 100%;
}
.header__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header__list ul li {
  font-size: 20px;
  margin: 0 30px 0 0;
}
.header__list ul li a {
  position: relative;
  display: block;
  color: #fff;
  padding: 0 0 3px 0;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__list ul li a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__list ul li:hover a {
  color: #e6b14b;
}
.header__list ul li:hover a:before {
  width: 100%;
  background-color: #e6b14b;
}
@media (max-width: 1245px) {
  .header__list ul li {
    font-size: 17px;
    margin: 0 15px 0 0;
  }
}
@media (max-width: 915px) {
  .header__list ul li {
    font-size: 15px;
    margin: 0 10px 0 0;
  }
}
@media (max-width: 915px) {
  .header__list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
  }
}
@media (max-width: 782px) {
  .header__list {
    display: none;
  }
}
.header__rent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
  height: 100%;
}
.header__rent__phone-icon {
  display: none;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.header__rent__phone-icon img {
  max-width: 100%;
  height: 100%;
}
@media (max-width: 782px) {
  .header__rent__phone-icon {
    display: block;
  }
}
.header__rent__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 100%;
  font-size: 17px;
  margin: 0 0 15px 0;
  cursor: pointer;
}
@media (max-width: 1245px) {
  .header__rent__phone {
    font-size: 15px;
  }
}
@media (max-width: 782px) {
  .header__rent__phone {
    display: none;
  }
}
.header__rent__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 10px;
  max-width: 100%;
  max-height: 40%;
  height: 40%;
  padding: 0 10px;
}
.header__rent__btn a {
  color: #174d69;
  font-size: 17px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (max-width: 1245px) {
  .header__rent__btn a {
    font-size: 15px;
  }
}
.header__rent__btn:hover a {
  color: #fff;
}
.header__rent__btn:hover {
  background-color: #da512f;
}
@media (max-width: 782px) {
  .header__rent__btn {
    display: none;
  }
}
@media (max-width: 915px) {
  .header__rent {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
  }
}
@media (max-width: 782px) {
  .header__rent {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
  height: 80%;
}
.header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.header__logo img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 915px) {
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
  }
}
@media (max-width: 782px) {
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
}
@media (max-width: 782px) {
  .header {
    height: 100px;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title-img {
  width: 100%;
  height: calc(100vh - 150px);
  background: fixed #fff url(../images/backgrounds/sunnylake_bg.jpeg) center center/cover no-repeat;
}
.title-img__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.title-img__img {
  width: 35%;
  height: auto;
  text-align: center;
}
.title-img__img img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 782px) {
  .title-img__img {
    width: 70%;
  }
}
.title-img__title {
  font-size: 35px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  margin: 5% 0 0 0;
}
@media (max-width: 1230px) {
  .title-img__title {
    font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1200 - 320)));
  }
}
@media (max-width: 782px) {
  .title-img {
    height: calc(100vh - 100px);
  }
}